paramiko >= 2.4.2
imcsdk >= 0.9.6
jsonschema >= 3.0.1
python-docx >= 0.8.10
requests >= 2.21.0
ucsmsdk >= 0.9.8
ucscsdk >= 0.9.0.1
Pillow >= 5.4.1
netaddr >= 0.7.19
pyyaml >= 5.1
packaging >= 19.0
Flask >= 1.0.2
# Before a new update for paramiko fix the pop up "CryptographyDeprecationWarnings": (https://github.com/paramiko/paramiko/issues/1369)
cryptography == 2.4.2