pyopenssl>=24.1.0
paramiko>=3.0.0
imcsdk>=0.9.13
jsonschema>=3.2.0
python-docx>=1.0.1
requests>=2.23.0
ucsmsdk>=0.9.18
ucscsdk>=0.9.0.7
matplotlib>=3.2.1
natsort>=7.1.1
networkx[default]>=2.4
Pillow>=10.0.0
netaddr>=0.7.19
pyyaml>=5.3.1
packaging>=20.4
Flask>=2.0.0
Flask-Cors>=3.0.10
cryptography>=42.0.4
urllib3>=1.25.9
intersight==1.0.11.17057
SQLAlchemy>=2.0.23
werkzeug>=1.0.1
numpy>=1.19.4
tabulate>=0.8.9
reportlab>=3.6.9
scp>=0.14.4
watchdog>=3.0.0
certifi>=2024.2.2
