{% extends "/html/base.html" %}

{% block css %}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb p-0 mb-0">
  <li class="breadcrumb-item"><a href="/tasks">Tasks</a></li>
  <li class="breadcrumb-item active">Task</li>
</ol>
{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div id="TaskCardContainer" class="col-sm-10 col-md-8"></div>
      <div id="DeviceCardContainer" class="col-md-4 col-sm-4"></div>
    </div>
  </div>
</div>

<section class="content">
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12">
        <!-- Main node for this component -->
        <div id = "taskDisplayContainer" class="timeline">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript%}
<!-- Page-specific JS -->
<script src="/static/js/task.js" crossorigin="anonymous"></script>
{% endblock %}