{% extends "/html/base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row">
      <div id="TaskCardContainer" class="col-sm-10 col-md-8">
      </div>
      <div class="col-sm-2 col-md-4">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Task</li>
        </ol>
      </div><!-- /.col -->
    </div>
  </div>
</div>

<section class="content">
  <div class = "container-fluid">
    <div class = "row">
      <div class = "col-md-12">
        <!-- Main node for this component -->
        <div id = "taskDisplayContainer" class="timeline">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript%}
<!-- Page-specific JS -->
<script src="/static/js/task.js" crossorigin="anonymous"></script>
{% endblock %}